<td>
  {{dataset.label}}
</td>
<td>
  {{dataset.model_label}}
</td>
<td>
  <ul>
    {{#each dataset.data as |d|}}
      <li>
        <a href={{d.link}} target="_blank">{{d.filename}}</a>
        ({{human-size d.size}})
      </li>
    {{/each}}
  </ul>
</td>
<td>
  {{d-button action="destroy" actionParam=dataset class="btn btn-small" label="ml.admin.destroy"}}
</td>