<div class="col value first label">
  {{dataset.label}}
</div>
<div class="col value label">
  {{dataset.model_label}}
</div>
<div class="col value medium-label">
  <ul>
    {{#each dataset.data as |d|}}
      <li>
        <a href={{d.link}} target="_blank">{{d.filename}}</a>
        ({{human-size d.size}})
      </li>
    {{/each}}
  </ul>
</div>
<div class="col value large-label">
  {{d-button action="destroy" actionParam=dataset class="btn btn-small" label="ml.admin.destroy"}}
</div>
<div class="clearfix"></div>
