<td>
  {{image.name}}
</td>
<td>
  {{statusLabel}}
</td>
<td>
  {{#if built}}
    {{d-button action="removeImage" actionParam=image class="btn btn-small" label="ml.admin.image.remove"}}
  {{else}}
    {{d-button action="buildImage" actionParam=image class="btn btn-small" label="ml.admin.image.build" disabled=building}}
  {{/if}}
</td>