<div class="col value first label">
  {{model.label}}
</div>
<div class="col value label">
  {{typeLabel}}
</div>
<div class="col value medium-label">
  {{model.image_name}}
</div>
<div class="col value label">
  <a {{action "goToRun" model}}>{{model.run_label}}</a>
</div>
<div class="col value label">
  {{statusLabel}}
</div>
<div class="col value large-label">
  {{d-button action="openTrainModel" actionParam=model class="btn btn-small" label="ml.admin.model.train.label"}}
  {{d-button action="openSelectRun" actionParam=model class="btn btn-small" label="ml.admin.model.run.label"}}
</div>
<div class="clearfix"></div>
