<td>
  {{model.label}}
</td>
<td>
  {{typeLabel}}
</td>
<td>
  {{model.image_name}}
</td>
<td>
  <a {{action "goToRun" model}}>{{model.run_label}}</a>
</td>
<td>
  {{statusLabel}}
</td>
<td>
  {{d-button action="openTrainModel" actionParam=model class="btn btn-small" label="ml.admin.model.train.label"}}
  {{d-button action="openSelectRun" actionParam=model class="btn btn-small" label="ml.admin.model.run.label"}}
</td>