<td>
  {{run.label}}
</td>
<td>
  {{run.model_label}}
</td>
<td>
  <a {{action "goToDataset" run}}>{{run.dataset_label}}</a>
</td>
<td>
  {{run.accuracy}}
</td>
<td>
  {{status}}
</td>
<td>
  {{d-button action="destroy" actionParam=run class="btn btn-small" label="ml.admin.destroy"}}
  {{d-button action="test" actionParam=run class="btn btn-small" label="ml.admin.run.test"}}
</td>