<div class="col value first label">
  {{run.label}}
</div>
<div class="col value label">
  {{run.model_label}}
</div>
<div class="col value large-label">
  <a {{action "goToDataset" run}}>{{run.dataset_label}}</a>
</div>
<div class="col value label">
  {{run.accuracy}}
</div>
<div class="col value label">
  {{status}}
</div>
<div class="col value flexible-label">
  {{d-button action="destroy" actionParam=run class="btn btn-small" label="ml.admin.destroy"}}
  {{d-button action="test" actionParam=run class="btn btn-small" label="ml.admin.run.test"}}
</div>
<div class="clearfix"></div>
