<table class='table ml'>
  <thead>
    <th>{{i18n 'ml.admin.dataset.label'}}</th>
    <th>{{i18n 'ml.admin.model.label'}}</th>
    <th>{{i18n 'ml.admin.dataset.link'}}</th>
    <th>{{i18n 'ml.admin.actions'}}</th>
    {{d-button action="openDatasetUpload" class="btn" label="upload" icon="upload"}}
    {{#if activeLabel}}
      {{d-button action="clearFilter" class="btn-primary" label="admin.logs.staff_actions.clear_filters" icon="cross"}}
    {{/if}}
  </thead>
  
  <tbody>
    {{#each visibleDatasets as |d|}}
      {{ml-dataset dataset=d}}
    {{else}}
      {{i18n 'search.no_results'}}
    {{/each}}
  </tbody>
</table>
