<div class='table ml'>
  <div class="heading-container">
    <div class="col heading first label">{{i18n 'ml.admin.dataset.label'}}</div>
    <div class="col heading label">{{i18n 'ml.admin.model.label'}}</div>
    <div class="col heading medium-label">{{i18n 'ml.admin.dataset.train_link'}}</div>
    <div class="col heading medium-label">{{i18n 'ml.admin.dataset.test_link'}}</div>
    <div class="col heading large-label">{{i18n 'ml.admin.actions'}}</div>
    {{d-button action="uploadDataset" class="btn" label="upload" icon="upload"}}
    {{#if activeLabel}}
      {{d-button action="clearFilter" class="btn-primary" label="admin.logs.staff_actions.clear_filters" icon="cross"}}
    {{/if}}
    <div class="clearfix"></div>
  </div>

  {{#conditional-loading-spinner condition=loading}}
    {{#each visibleDatasets as |d|}}
      <div class="admin-list-item">
        {{ml-dataset dataset=d}}
      </div>
    {{else}}
      {{i18n 'search.no_results'}}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>
