<table class='table ml'>
  <thead>
    <tr>
      <th>{{i18n 'ml.admin.image.label'}}</th>
      <th>{{i18n 'ml.admin.status'}}</th>
      <th>{{i18n 'ml.admin.actions'}}</th>
      {{#if activeLabel}}
        {{d-button action="clearFilter" class="btn-primary" label="admin.logs.staff_actions.clear_filters" icon="cross"}}
      {{/if}}
    </tr>
  </thead>
  
  <tbody>
    {{#each visibleImages as |i|}}
      {{ml-image image=i}}
    {{else}}
      {{i18n 'search.no_results'}}
    {{/each}}
  </tbody>
</table>
