<div class='table ml-models'>
  <div class="heading-container">
    <div class="col heading first model-label">{{i18n 'ml.admin.models.label'}}</div>
    <div class="col heading model-image">{{i18n 'ml.admin.models.image'}}</div>
    <div class="col heading model-run">{{i18n 'ml.admin.models.run'}}</div>
    <div class="col heading model-data">{{i18n 'ml.admin.models.data'}}</div>
    <div class="col heading model-status">{{i18n 'ml.admin.models.status'}}</div>
    <div class="col heading model-actions">{{i18n 'ml.admin.models.actions'}}</div>
    <div class="clearfix"></div>
  </div>

  {{#conditional-loading-spinner condition=loading}}
    {{#each models as |m|}}
      <div class='admin-list-item'>
        {{model-list-item model=m}}
      </div>
    {{else}}
      {{i18n 'search.no_results'}}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>
