{{i18n 'ml.admin.models.title'}}

<div class='table ml-models'>
  <div class="heading-container">
    <div class="col heading first">{{i18n 'ml.admin.models.name'}}</div>
    <div class="col heading">{{i18n 'ml.admin.models.status'}}</div>
    <div class="col heading">{{i18n 'ml.admin.models.run'}}</div>
    <div class="col heading">{{i18n 'ml.admin.models.data'}}</div>
    <div class="clearfix"></div>
  </div>

  {{#conditional-loading-spinner condition=loading}}
    {{#each models as |m|}}
      <div class='admin-list-item'>
        <div class="col value first">
          {{m.name}}
        </div>
        <div class="col value">
          {{m.status}}
          <a {{action "buildImage" m}} class="btn btn-small">{{ml.admin.models.build}}</a>
        </div>
        <div class="col value">
          {{m.run}}
        </div>
        <div class="col value">
          {{m.data}}
        </div>
        <div class="clearfix"></div>
      </div>
    {{else}}
      {{i18n 'search.no_results'}}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>
